<!--The content below is only a placeholder and can be replaced.-->

<!-- Application header -->
<div class="songapp-header-wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="songapp-app-header">Song book manager</span>
      <span class="example-spacer"></span>
      <div class="songapp-link-group">
        <span class="songapp-link-item" routerLink="/credits" routerLinkActive="active">
          <span>Credits</span>
          <i class="material-icons">card_membership</i>
        </span>

        <span class="songapp-link-item" routerLink="/songs" routerLinkActive="active">
          <span>Songs</span>
          <i class="material-icons">book</i>
        </span>
        
        <span class="songapp-link-item" routerLink="/authors" routerLinkActive="active">
          <span>Authors</span>
          <i class="material-icons">people</i>
        </span>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>

<!-- Application footer -->
<div class="songapp-footer-wrapper">

</div>
